<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Todo</title>
</head>
<body>
    <form method="POST" action="/">
        {% csrf_token %}
        {{form.title}}
        <input type="submit" name="Create Task">
    </form>
{% for task in tasks %}
    <div>
        {% if task.complete == True %}
        <strike>{{task}}</strike>
        {% else %}
        <span>{{task}}</span>
        {% endif %}
        <a href="{% url 'update_task' task.id %}">Update</a>
        <a href="{% url 'delete_task' task.id %}">Delete</a>
    </div>
{% endfor %}
</body>
</html>