{% extends 'base.html' %}

{% block title %}TodoApp{% endblock %}

{% block content %}
    <br><br>
    <h1>Todo App</h1>
    <form method="POST" action="/" class="row">
        {% csrf_token %}
        {{form.title}}
        <input class='outline' type="submit" value="Create New Task">
    </form>
    <table>
        <thead>
            <tr>
                <th>Task</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
        {% for task in tasks %}
        <tr>
            <td>
                {% if task.complete == True %}
                <strike>{{task}}</strike>
                {% else %}
                {{task}}
                {% endif %}
            </td>
            <td>
                <a class="button button-outline" href="{% url 'update_task' task.id %}">Update</a>
                <a class="button button-outline" href="{% url 'delete_task' task.id %}">Delete</a>
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
